<div class="container">
    <div class="c-p-m">
         <div class="hd1">
            <h5>Current Password</h5>
        </div>
        <div class="input-group">
            <input type="password" class="form-control" id="admin_password">
        </div>
        <br>
        <button onclick="checkPassword()" class="btn btn-danger">Next <span class="bx bx-arrow-to-right"></span></button>
    </div>
</div>
<!--
  
 -->