<div class="container">
    <div class="content-page">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">No Of Queries </th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody class="tr-rows">
                
            </tbody>
        </table> 
    </div>
</div>