<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Query Id</th>
        <th scope="col">Student Number</th>
        <th scope="col">Module</th>
        <th scope="col">Query Type</th>
        <th scope="col">Date Time</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody class="tr-rows-results">
  
    </tbody>
</table>